mixin Cta(image,btnBoots)
  .row.justify-content-center.pt-3d
    .col-lg-8.col-xl-7.mb-n5.mb-md-n8.mb-lg-n6.mb-xl-n9.mt-8 
      .card.bg-backdrop
        .card-body.p-2.px-lg-2.px-xl-5 
          .py-5.text-center
            h2.fs-1.fs-xxl-2.fw-bolder Book
            p.mb-4.text-900 Your Stitching Appointment Now!!
            a.btn.hover-top(href='#!' class=`${btnBoots}`) Check Time Slots
    .col-lg-10
      img.w-100(src=`${CWD}assets/img/cta/${image}`  alt="..."  style="border-radius:1rem;") 

